includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 3
    paths:
        - app
        - Modules
    excludePaths:
        - Modules/*/vendor
        - Modules/*/node_modules
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
