includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 3
    paths:
        - app
        - Modules
    excludePaths:
        - Modules/*/vendor
        - Modules/*/node_modules
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined static method PHPOpenSourceSaver\\JWTAuth\\Facades\\JWTAuth::(getToken|getPayload|setToken)\(\)#'
